git+https://github.com/aristoteleo/veckit.git@46d41e63f42a9aab815db20b742feeccd249cb17
git+https://github.com/i-habib/virtual-embryo-submission-blender.git@ba2988455bdeda910fc44f0f788e2f2c67f78c9b
pandas>=2.0
tabulate>=0.9
